/* Default styles */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card img {
  width: 50%;
  margin: auto;
}

.card-header {
  background-color: red;
  color: white;
}

.card-footer {
  background-color: blue;
  color: white;
}

.button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  text-align: center;
}

.jumbotron img {
  display: block;
  margin: 0 auto;
}

.jumbotron .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navBar {
  background-color: red;
}

.navBar .nav-link {
  color: white;
}

.navBar .nav-link:hover {
  background-color: white;
  color: red;
}

.row * {
  text-align: center;
  margin-left: 15px;
}

ul {
  margin-left: 15px;
  padding-left: 0;
}

.intro {
  margin-top: 20px;
}

h1.display-4 {
  color: white;
  font-weight: bold;
}

img.center {
  display: block;
  margin: auto;
}

footer {
  background-color: red;
  color: white;
  padding: 20px 0;
  width: 100%;
}

.footer-top, .footer-bottom {
  padding: 10px 0;
}

.footer-top h4, .footer-bottom p {
  font-weight: bold;
}

.footer-top ul li a {
  color: white;
}

.footer-bottom hr {
  border-top: 1px solid white;
  margin: 10px auto;
  width: 50%;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}


.preText {
  text-align: left;
}

.preText ul {
  text-align: left;
  margin-left: 20px;
  padding-left: 0;
}

section.preText li {
  text-align: left;
  margin-left: 15px;
}

.phaseOverview {
  background-color: blue;
  margin: 0 auto;
  margin-top: 20px;
  padding: 50px 0;
}

.phaseOverview .card {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .phaseOverview .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .phaseOverview .col {
    flex: 1 1 300px;
    margin: 0 15px;
  }
}


section.preText p,
section.preText ul,
section.preText li {
  text-align: left;
  margin-left: 15px;
}

.definitionIdeation img {
  display: block;
  margin: 0 auto;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}
.container {
  display: flex;
  justify-content: center;
}

.container-fluid {
  width: 100%;
}
